In [1]:
# import dependencies
import pandas as pd
import requests

In [2]:
# store json link in a variable
url = "https://api.spacexdata.com/v3/launches"

# format json request
launches = requests.get(url).json()

In [1]:
#launches

In [4]:
# create empty arrays to store the values
# flight_number = []
# launch_year = []
# launch_data_utc = []
# rocket_name = []
# payload_type = []
# site_id = []
# site_name = []

# launch_success = []
# customers = []
# nationality = []

In [5]:
#for launch in launches

In [6]:
df = pd.read_json(url)
#df.to_csv("launch_data.csv", index = False)
df

,flight_number,mission_name,mission_id,upcoming,launch_year,launch_date_unix,launch_date_utc,launch_date_local,is_tentative,tentative_max_precision,...,static_fire_date_unix,timeline,crew,last_date_update,last_ll_launch_date,last_ll_update,last_wiki_launch_date,last_wiki_revision,last_wiki_update,launch_date_source
0,1,FalconSat,[],False,2006,1143239400,2006-03-24T22:30:00.000Z,2006-03-25T10:30:00+12:00,False,hour,...,1.142554e+09,{'webcast_liftoff': 54},None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,DemoSat,[],False,2007,1174439400,2007-03-21T01:10:00.000Z,2007-03-21T13:10:00+12:00,False,hour,...,NaN,{'webcast_liftoff': 60},None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Trailblazer,[],False,2008,1217734440,2008-08-03T03:34:00.000Z,2008-08-03T15:34:00+12:00,False,hour,...,NaN,{'webcast_liftoff': 14},None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,RatSat,[],False,2008,1222643700,2008-09-28T23:15:00.000Z,2008-09-28T11:15:00+12:00,False,hour,...,1.221869e+09,{'webcast_liftoff': 5},None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,RazakSat,[],False,2009,1247456100,2009-07-13T03:35:00.000Z,2009-07-13T15:35:00+12:00,False,hour,...,NaN,{'webcast_liftoff': 5},None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,107,Crew-1,[EE86F74],False,2020,1605486420,2020-11-16T00:27:00.000Z,2020-11-15T19:27:00-05:00,False,hour,...,NaN,None,[],2020-11-13T21:31:19.000Z,None,None,2020-11-16T00:27:00.000Z,90e9da15-25f7-11eb-badd-0e3a392f3e47,2020-11-13T21:31:19.000Z,wiki
107,108,Sentinel-6 Michael Freilich,[],False,2020,1605979020,2020-11-21T17:17:00.000Z,2020-11-21T09:17:00-08:00,False,hour,...,1.605619e+09,None,None,2020-11-17T19:27:21.000Z,2020-11-21T17:17:00.000Z,2020-11-05T23:48:07.000Z,2020-11-21T17:17:00.000Z,e93220d1-290a-11eb-bd82-0e4885cc0cd7,2020-11-17T19:27:21.000Z,wiki
108,109,Starlink-15 (v1.0),[],False,2020,1603553460,2020-10-24T15:31:00.000Z,2020-10-24T11:31:00-04:00,False,hour,...,1.605976e+09,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,110,CRS-21,[EE86F74],True,2020,1607271420,2020-12-06T16:17:00.000Z,2020-12-06T11:17:00-05:00,False,hour,...,NaN,None,None,2020-12-05T13:04:54.000Z,None,None,2020-12-06T16:17:00.000Z,774e7809-36fa-11eb-a5dc-0e33339b29dd,2020-12-05T13:04:54.000Z,wiki
110,110,SXM-7,[],True,2020,1607880600,2020-12-13T17:30:00.000Z,2020-12-13T12:30:00-05:00,False,hour,...,NaN,None,None,2020-12-13T17:03:48.000Z,None,None,2020-12-13T17:30:00.000Z,2aa9a2fe-3d65-11eb-abb7-0e98a0ca8665,2020-12-13T17:03:48.000Z,wiki

In [7]:
# everything should tie back to this
len(df)

111

In [8]:
df.columns

Index(['flight_number', 'mission_name', 'mission_id', 'upcoming',
       'launch_year', 'launch_date_unix', 'launch_date_utc',
       'launch_date_local', 'is_tentative', 'tentative_max_precision', 'tbd',
       'launch_window', 'rocket', 'ships', 'telemetry', 'launch_site',
       'launch_success', 'launch_failure_details', 'links', 'details',
       'static_fire_date_utc', 'static_fire_date_unix', 'timeline', 'crew',
       'last_date_update', 'last_ll_launch_date', 'last_ll_update',
       'last_wiki_launch_date', 'last_wiki_revision', 'last_wiki_update',
       'launch_date_source'],
      dtype='object')

In [18]:
new_df = df[['flight_number','launch_year', 'launch_date_utc','launch_success']].copy()
new_df

     flight_number  launch_year           launch_date_utc  launch_success
0                1         2006  2006-03-24T22:30:00.000Z             0.0
1                2         2007  2007-03-21T01:10:00.000Z             0.0
2                3         2008  2008-08-03T03:34:00.000Z             0.0
3                4         2008  2008-09-28T23:15:00.000Z             1.0
4                5         2009  2009-07-13T03:35:00.000Z             1.0
..             ...          ...                       ...             ...
106            107         2020  2020-11-16T00:27:00.000Z             1.0
107            108         2020  2020-11-21T17:17:00.000Z             1.0
108            109         2020  2020-10-24T15:31:00.000Z             1.0
109            110         2020  2020-12-06T16:17:00.000Z             NaN
110            110         2020  2020-12-13T17:30:00.000Z             NaN

[111 rows x 4 columns]

In [10]:
# loop through column
# to get rocket name, see below
# append to a list
# add list to df
df.rocket[0]['rocket_name']
df.launch_site[0]['site_name']

'Kwajalein Atoll'

In [11]:
rocket_df =pd.json_normalize(df.rocket)
# pd.json_normalize(df.telemetry)


rocket_df

,rocket_id,rocket_name,rocket_type,first_stage.cores,second_stage.block,second_stage.payloads,fairings.reused,fairings.recovery_attempt,fairings.recovered,fairings.ship,fairings
0,falcon1,Falcon 1,Merlin A,"[{'core_serial': 'Merlin1A', 'flight': 1, 'blo...",1.0,"[{'payload_id': 'FalconSAT-2', 'norad_id': [],...",False,False,False,None,NaN
1,falcon1,Falcon 1,Merlin A,"[{'core_serial': 'Merlin2A', 'flight': 1, 'blo...",1.0,"[{'payload_id': 'DemoSAT', 'norad_id': [], 're...",False,False,False,None,NaN
2,falcon1,Falcon 1,Merlin C,"[{'core_serial': 'Merlin1C', 'flight': 1, 'blo...",1.0,"[{'payload_id': 'Trailblazer', 'norad_id': [],...",False,False,False,None,NaN
3,falcon1,Falcon 1,Merlin C,"[{'core_serial': 'Merlin2C', 'flight': 1, 'blo...",1.0,"[{'payload_id': 'RatSat', 'norad_id': [33393],...",False,False,False,None,NaN
4,falcon1,Falcon 1,Merlin C,"[{'core_serial': 'Merlin3C', 'flight': 1, 'blo...",1.0,"[{'payload_id': 'RazakSAT', 'norad_id': [35578...",False,False,False,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
106,falcon9,Falcon 9,FT,"[{'core_serial': 'B1061', 'flight': 1, 'block'...",5.0,"[{'payload_id': 'Crew-1', 'norad_id': [46920],...",NaN,NaN,NaN,NaN,NaN
107,falcon9,Falcon 9,FT,"[{'core_serial': 'B1063', 'flight': 1, 'block'...",5.0,"[{'payload_id': 'Sentinel-6 Michael Freilich',...",None,False,None,None,NaN
108,falcon9,Falcon 9,FT,"[{'core_serial': 'B1049', 'flight': 7, 'block'...",5.0,"[{'payload_id': 'Starlink-15', 'norad_id': [],...",False,True,None,GOMSCHIEF,NaN
109,falcon9,Falcon 9,FT,"[{'core_serial': 'B1058', 'flight': 4, 'block'...",5.0,"[{'payload_id': 'CRS-21', 'norad_id': [], 'cap...",NaN,NaN,NaN,NaN,NaN
110,falcon9,Falcon 9,FT,"[{'core_serial': None, 'flight': None, 'block'...",5.0,"[{'payload_id': 'SXM-7', 'norad_id': [], 'reus...",None,None,None,None,NaN

In [12]:
# index 0 is Falcon 1
# grab payload type and nationality only. attach to above
rocket_df["second_stage.payloads"][0][0]["nationality"]

'United States'

In [13]:
rocket_df.columns

Index(['rocket_id', 'rocket_name', 'rocket_type', 'first_stage.cores',
       'second_stage.block', 'second_stage.payloads', 'fairings.reused',
       'fairings.recovery_attempt', 'fairings.recovered', 'fairings.ship',
       'fairings'],
      dtype='object')

In [14]:
df['launch_site'][0]

{'site_id': 'kwajalein_atoll',
 'site_name': 'Kwajalein Atoll',
 'site_name_long': 'Kwajalein Atoll Omelek Island'}

In [24]:
# loooop through this column
# becomes it's own df
# merge it to original



# loop through all the objects
rocket_name = []
nationality = []
site_name = []
site_id = []
payload_type = []

# insert loop here

# first loop, append all items in their respective lists
# 
# these loops grab all the data within each object
for column in df[['launch_site']]:
    columnSeriesObj = df[column]
    #print('Column Name: ', column)
    #print('Column Contents: ', columnSeriesObj.values)
    for each in columnSeriesObj.values:
        site_name.append(each['site_name'])
        site_id.append(each['site_id'])
        
    

for column in rocket_df[['rocket_name']]:
    columnSeriesObj = rocket_df[column]
    #print('Column Name: ', column)
    #rocket_name.append(columnSeriesObj)
    for each in columnSeriesObj.values:
        rocket_name.append(each)
# #     rocket_name.append(df.rocket[row]['rocket_name'])
# #     nationality.append(rocket_df["second_stage.payloads"][row][0]["nationality"])
# #     launch_site.append(df.launch_site[row]['site_name'])
# #     payload_type.append(rocket_df["second_stage.payload"])

for column in rocket_df[['second_stage.payloads']]:
    columnSeriesObj = rocket_df[column]
    #print('Column Name: ', column)
    for each in columnSeriesObj.values:
        nationality.append(each[0]['nationality'])
        payload_type.append(each[0]['payload_type'])

In [25]:
new_df['Site_ID'] = site_id
new_df['Site_Name'] = site_name
new_df['Rocket_Name'] = rocket_name
new_df['Nationality'] = nationality
new_df['Payload_type'] = payload_type

In [28]:
new_df


    
new_df.to_csv("new_launch_data.csv", index = False)

In [29]:
new_df

,flight_number,launch_year,launch_date_utc,launch_success,Site_ID,Site_Name,Nationality,Payload_type,Rocket_Name
0,1,2006,2006-03-24T22:30:00.000Z,0.0,kwajalein_atoll,Kwajalein Atoll,United States,Satellite,Falcon 1
1,2,2007,2007-03-21T01:10:00.000Z,0.0,kwajalein_atoll,Kwajalein Atoll,United States,Satellite,Falcon 1
2,3,2008,2008-08-03T03:34:00.000Z,0.0,kwajalein_atoll,Kwajalein Atoll,United States,Satellite,Falcon 1
3,4,2008,2008-09-28T23:15:00.000Z,1.0,kwajalein_atoll,Kwajalein Atoll,United States,Satellite,Falcon 1
4,5,2009,2009-07-13T03:35:00.000Z,1.0,kwajalein_atoll,Kwajalein Atoll,Malaysia,Satellite,Falcon 1
...,...,...,...,...,...,...,...,...,...
106,107,2020,2020-11-16T00:27:00.000Z,1.0,ksc_lc_39a,KSC LC 39A,United States,Crew Dragon,Falcon 9
107,108,2020,2020-11-21T17:17:00.000Z,1.0,vafb_slc_4e,VAFB SLC 4E,United States,Satellite,Falcon 9
108,109,2020,2020-10-24T15:31:00.000Z,1.0,ccafs_slc_40,CCAFS SLC 40,United States,Satellite,Falcon 9
109,110,2020,2020-12-06T16:17:00.000Z,NaN,ksc_lc_39a,KSC LC 39A,United States,Dragon 2.0,Falcon 9
110,110,2020,2020-12-13T17:30:00.000Z,NaN,ccafs_slc_40,CCAFS SLC 40,United States,Satellite,Falcon 9